<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzm.mapper.ChannelSectionMapper">
  <resultMap id="BaseResultMap" type="com.dzm.model.ChannelSection">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="created_time" jdbcType="BIGINT" property="createdTime" />
    <result column="modified_time" jdbcType="BIGINT" property="modifiedTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dzm.model.ChannelSectionWithBLOBs">
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, channel, cover, video, duration, is_deleted, created_time, modified_time
  </sql>
  <sql id="Blob_Column_List">
    title, description
  </sql>

  <select id="selectByTitleOrDescription" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from channel_section
    where (title like #{search,jdbcType=VARCHAR} or description like #{search,jdbcType=VARCHAR})
      order by created_time desc
  </select>

  <select id="selectByExampleWithBLOBs" parameterType="com.dzm.model.ChannelSectionExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from channel_section
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.dzm.model.ChannelSectionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from channel_section
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from channel_section
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from channel_section
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dzm.model.ChannelSectionExample">
    delete from channel_section
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dzm.model.ChannelSectionWithBLOBs">
    insert into channel_section (id, channel, cover, 
      video, duration, is_deleted, 
      created_time, modified_time, title, 
      description)
    values (#{id,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, 
      #{video,jdbcType=VARCHAR}, #{duration,jdbcType=INTEGER}, #{isDeleted,jdbcType=BIT}, 
      #{createdTime,jdbcType=BIGINT}, #{modifiedTime,jdbcType=BIGINT}, #{title,jdbcType=LONGVARCHAR}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dzm.model.ChannelSectionWithBLOBs">
    insert into channel_section
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="video != null">
        video,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dzm.model.ChannelSectionExample" resultType="java.lang.Long">
    select count(*) from channel_section
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update channel_section
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.channel != null">
        channel = #{record.channel,jdbcType=VARCHAR},
      </if>
      <if test="record.cover != null">
        cover = #{record.cover,jdbcType=VARCHAR},
      </if>
      <if test="record.video != null">
        video = #{record.video,jdbcType=VARCHAR},
      </if>
      <if test="record.duration != null">
        duration = #{record.duration,jdbcType=INTEGER},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=BIGINT},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update channel_section
    set id = #{record.id,jdbcType=VARCHAR},
      channel = #{record.channel,jdbcType=VARCHAR},
      cover = #{record.cover,jdbcType=VARCHAR},
      video = #{record.video,jdbcType=VARCHAR},
      duration = #{record.duration,jdbcType=INTEGER},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      created_time = #{record.createdTime,jdbcType=BIGINT},
      modified_time = #{record.modifiedTime,jdbcType=BIGINT},
      title = #{record.title,jdbcType=LONGVARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update channel_section
    set id = #{record.id,jdbcType=VARCHAR},
      channel = #{record.channel,jdbcType=VARCHAR},
      cover = #{record.cover,jdbcType=VARCHAR},
      video = #{record.video,jdbcType=VARCHAR},
      duration = #{record.duration,jdbcType=INTEGER},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      created_time = #{record.createdTime,jdbcType=BIGINT},
      modified_time = #{record.modifiedTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dzm.model.ChannelSectionWithBLOBs">
    update channel_section
    <set>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dzm.model.ChannelSectionWithBLOBs">
    update channel_section
    set channel = #{channel,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=BIGINT},
      modified_time = #{modifiedTime,jdbcType=BIGINT},
      title = #{title,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dzm.model.ChannelSection">
    update channel_section
    set channel = #{channel,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=BIGINT},
      modified_time = #{modifiedTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>