<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzm.mapper.QuantStockDataMapper">
  <resultMap id="BaseResultMap" type="com.dzm.model.QuantStockData">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="start_day" jdbcType="VARCHAR" property="startDay" />
    <result column="end_day" jdbcType="VARCHAR" property="endDay" />
    <result column="data_in_csv" jdbcType="VARCHAR" property="dataInCsv" />
    <result column="created_time" jdbcType="BIGINT" property="createdTime" />
    <result column="modified_time" jdbcType="BIGINT" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, symbol, start_day, end_day, data_in_csv, created_time, modified_time
  </sql>
  <select id="selectByExample" parameterType="com.dzm.model.QuantStockDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from quant_stock_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from quant_stock_data
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from quant_stock_data
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dzm.model.QuantStockDataExample">
    delete from quant_stock_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dzm.model.QuantStockData">
    insert into quant_stock_data (id, symbol, start_day, 
      end_day, data_in_csv, created_time, 
      modified_time)
    values (#{id,jdbcType=VARCHAR}, #{symbol,jdbcType=VARCHAR}, #{startDay,jdbcType=VARCHAR}, 
      #{endDay,jdbcType=VARCHAR}, #{dataInCsv,jdbcType=VARCHAR}, #{createdTime,jdbcType=BIGINT}, 
      #{modifiedTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dzm.model.QuantStockData">
    insert into quant_stock_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="startDay != null">
        start_day,
      </if>
      <if test="endDay != null">
        end_day,
      </if>
      <if test="dataInCsv != null">
        data_in_csv,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="startDay != null">
        #{startDay,jdbcType=VARCHAR},
      </if>
      <if test="endDay != null">
        #{endDay,jdbcType=VARCHAR},
      </if>
      <if test="dataInCsv != null">
        #{dataInCsv,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dzm.model.QuantStockDataExample" resultType="java.lang.Long">
    select count(*) from quant_stock_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update quant_stock_data
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.symbol != null">
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.startDay != null">
        start_day = #{record.startDay,jdbcType=VARCHAR},
      </if>
      <if test="record.endDay != null">
        end_day = #{record.endDay,jdbcType=VARCHAR},
      </if>
      <if test="record.dataInCsv != null">
        data_in_csv = #{record.dataInCsv,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update quant_stock_data
    set id = #{record.id,jdbcType=VARCHAR},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      start_day = #{record.startDay,jdbcType=VARCHAR},
      end_day = #{record.endDay,jdbcType=VARCHAR},
      data_in_csv = #{record.dataInCsv,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=BIGINT},
      modified_time = #{record.modifiedTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dzm.model.QuantStockData">
    update quant_stock_data
    <set>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="startDay != null">
        start_day = #{startDay,jdbcType=VARCHAR},
      </if>
      <if test="endDay != null">
        end_day = #{endDay,jdbcType=VARCHAR},
      </if>
      <if test="dataInCsv != null">
        data_in_csv = #{dataInCsv,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dzm.model.QuantStockData">
    update quant_stock_data
    set symbol = #{symbol,jdbcType=VARCHAR},
      start_day = #{startDay,jdbcType=VARCHAR},
      end_day = #{endDay,jdbcType=VARCHAR},
      data_in_csv = #{dataInCsv,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=BIGINT},
      modified_time = #{modifiedTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>